body {
    margin: 0px !important;
}

.header {
    font-size: 20px;
    height: 60px;
    background-color: gray;
    position: fixed;
    width: 100%;
}

.page_link {
    cursor: pointer;
    margin-left: 10px;
}

.page_index {
    font-size: 30px;
}
